<h1>Editing inventories</h1>

<%= error_messages_for :inventories %>

<% form_for(@inventories) do |f| %>
 <%= render :partial => "form", :locals => { :f => f, :button => "Update" } %>
<% end %>

<%= link_to 'Show', @inventories %> |
<%= link_to 'Back', inventories_path %>
